<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.pay">
    <!-- 微信需要往sd卡写入二维码 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name="com.android.pay.PayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>
